.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.Container{
  display: flex;
  height: 80vh; 
  padding: 20px;
  border: 1px solid grey;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.todoForm{
  display:flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 2%;
  margin: 0 30px;
  padding: 0.5rem 3rem;
  /* width: 30vw; */
  
}

@media (max-width: 767px){
.todoForm, .singleTodo , .Container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 50px;
    padding: 0.5rem 0rem
}}

input{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button{
  border: none;
  border-radius: 20px;
  margin: 0 5px;
}


.allToDo{
  list-style:none;
  margin: 0;
  padding: 0;
 
  /* display: flex; */
  /* width: 60%; */
  /* flex-direction: column; */
  /* padding-inline-start: 0px;
  margin-block-start: 0em */
}


.singleTodo{
  border-radius: 10px; 
  margin: 10px 0;
  background-color: white;
  color: black;
  padding : 10px 20px;
  display: flex;
  width: 250px;
  align-items: center;
}


.Todotext{
    flex: 1;
}